@media screen and (max-width: 740px) {
	body {
		font-size: 2.5vw;
		padding : 0px  4.375vw 0px 4.375vw;
		margin-left: 0px;
	}
.header__head {
 	padding-top: 6vw;
 	position: relative;
 	margin-bottom: 2.85vw;
 }
 .header__head__left{
 	margin-right: 0px;
 	float: left;
 }
 .logo{
 	float: left;
 	width: 8.12vw;
 	height: 9.58vw;
 	margin-right: 4vw;
 }
 .head__text{
 	display: inline;
 	font-family: 'MuseoSansCyrl-300';
 	font-size: 2.5vw;
 	color: #727272;
 	line-height: 3vw;
 }
 .head__left__logoword{
 	margin-top: 0.1vw;
 }
 .linksword{
 	padding-top: 1vw;
    margin-bottom: 0.3vw;
    	text-align: right;
 }
 .header__head__center{
 	display: none;
 }
.head__center__number{
	font-size: 1.66vw;
	color: #1c67aa;
	font-family: 'FSElliotPro-Heavy';
	float: left;
	margin: 0.41vw  1.146vw 0px 0px ;
}
.head__center__quantity{
	    float: left;
    margin-top: 0.2vw;
}
 .header__head__right{
 	float: right;
 	color: #000;
 	font-size: 0.83vw;
 }
 .header__link{
 	float: left;
 }
.head__right__img{
	width: 9.16vw;
	height: 9.16vw;
}
.CA{
	display: inline;
	margin-right: 2.5vw
}
.WA{
	margin-right: 2.5vw;
	
}
.VK{
	margin-right: 0px;
}
.contact{
	display: none;
}
.head__right__tel{
	font-size: 1.56vw;
	color: #000;
	font-family: 'FSElliotPro-Bold';
}
.header__time{
	display: block;
	margin-top: 0.4vw;
}
.info__phehead{
	font-size: 2.86vw;
	    margin-bottom: 0.3vw;
	font-family: 'FSElliotPro';
}
h1{
	font-size: 2.86vw;
	font-family: 'FSElliotPro-Bold';
	line-height: 3.7vw;
	margin-bottom: 3.12vw;
}
.spanh1{
	color: #4b3eb2;
}
.info__item{
	margin-bottom: 3.8vw;
}
.info__pros{
	float: left;
}
.info__item__img{
	float: left;
	margin-right: 1.4vw;
	width: 1.9vw;
	height: 1.9vw;
	padding-top: 0.5vw;
}
.info__item__text{
	font-size: 0.937vw;
	font-family: 'MuseoSansCyrl-700';
	float: left;
	    line-height: 1.4vw;
}
info__item:nth-child(3) {
	margin-bottom: 4vw;
}
.info__butarea{
	position: relative;
	float: left;
	height: 4.95vw;
}
.info__button{
	border: none;
	line-height: 4.95vw;
	background: #5a33c8;
	text-align: center;
	font-family: 'FSElliotPro-Bold';
	font-size: 1.25vw;
	color: #fff;
	width: 26.2vw;
	margin-bottom: 1.24vw;
	border-bottom: 4px solid #264b82;
}
.button__img{
	    width: 0.52vw;
    height: 0.781vw;
    position: absolute;
    right: 2.5vw;
    top: 2.2vw
}
.info__method__img{
	height: 45.74vw;
	width: 45.67vw;
	    position: absolute;
    top: -10vw;
    right: 0;
    z-index: -2;
}
.play__img{
	width: 4.948vw;
	height: 4.948vw;
	position: absolute;
	z-index: 1;
	left: 42.4vw;
    top: 14vw;
    cursor: pointer;

}
footer{
	margin-top: 6.25vw;
	padding-bottom: 2.19vw;
}
.footer__text{
	text-align: center;
	float: left;
	line-height: 1vw;
	margin-left: 10.6vw;
}
.footer__link{
	cursor: pointer;
	color: #6d6aea;
	font-size: 0.6vw;
	font-family: 'MuseoSansCyrl-300';
}
.video__open{
	border-bottom: 0.5px solid #494949;
	cursor: pointer;
}
.video{
	margin-left: 20px; 
	width: 10.3vw; 
	height: 3.47vw;
	transform: skew(-20deg);
	box-shadow: 0 0  1vw rgba(0,0,0,0.2);
	position: absolute;
    z-index: 2;
    top: 15vw;
    left: 28vw;
    text-align: center;
    font-size: 0.83vw;
    color: #494949;
    font-family: 'MuseoSansCyrl-300';
    padding-top: 0.7vw;
    border-radius: 3px;
}
.video__text{
	transform: skew(20deg);
}