@media screen and (max-width: 740px) {
	body {
		font-size: 2.5vw;
		margin-left: 0px;
	}
header{
	padding : 0px  4.375vw 0px 4.375vw;
	 margin-bottom: 15vw;
}
.header__head {
 	padding-top: 6vw;
 	position: relative;
 	margin-bottom: 2.85vw;
 }
 .header__head__left{
 	margin-right: 0px;
 	float: left;
 }
 .logo{
 	float: left;
 	width: 8.12vw;
 	height: 9.58vw;
 	margin-right: 4vw;
 }
 .head__text{
 	display: inline;
 	font-family: 'MuseoSansCyrl-300';
 	font-size: 2.5vw;
 	color: #727272;
 	line-height: 3vw;
 }
 .head__left__logoword{
 	margin-top: 0.1vw;
 }
 .linksword{
 	padding-top: 1vw;
    margin-bottom: 0.3vw;
    	text-align: right;
 }
 .header__head__center{
 	display: none;
 }
.head__center__number{
	font-size: 1.66vw;
	color: #1c67aa;
	font-family: 'FSElliotPro-Heavy';
	float: left;
	margin: 0.41vw  1.146vw 0px 0px ;
}
.head__center__quantity{
	    float: left;
    margin-top: 0.2vw;
}
 .header__head__right{
 	float: right;
 	color: #000;
 	font-size: 0.83vw;
 }
 .header__link{
 	float: left;
 }
.head__right__img{
	width: 9.16vw;
	height: 9.16vw;
}
.CA{
	display: inline;
	margin-right: 2.5vw
}
.WA{
	margin-right: 2.5vw;
	
}
.VK{
	margin-right: 0px;
}
.contact{
	display: none;
}
.head__right__tel{
	font-size: 1.56vw;
	color: #000;
	font-family: 'FSElliotPro-Bold';
}
.header__time{
	display: block;
	margin-top: 0.4vw;
}
.info__phehead{
	font-size: 6.25vw;
	    margin-bottom: 1vw;
	font-family: 'FSElliotPro-Bold';
}
h1{
	font-size: 6.25vw;
	font-family: 'FSElliotPro-Bold';
	line-height: 8vw;
	margin-bottom: 3.12vw;
}
.mediaback{
	    display: block;
    background: url(../img/kid.jpg) no-repeat center /cover;
    background-size: 116% 100%;
    height: 100vw;
    background-position-x: -16vw;
    background-position-y: -18vw;
}
.spanh1{
	color: #4b3eb2;
}
.info__list{
	padding : 0px  4.375vw 0px 4.375vw;
	    margin-top: -5.1vw;
}
.info__item{
	margin-bottom: 9.1vw;
}
.info__pros{
	float: none;
	text-align: center;
}
.info__item__img{
	float: left;
	margin-right: 5.83vw;
	width: 6.875vw;
	height: 6.875vw;
	padding-top: 0.5vw;
}
.info__item__text{
	    font-size: 3.75vw;
    font-family: 'MuseoSansCyrl-700';
    float: left;
    line-height: 5vw;
    text-align: left;
}
.info__item:nth-child(3) {
	margin-bottom: 11.875vw;
}
.info__butarea{
	width: 100%;
	position: relative;
	float: left;
	height: 14.8vw;
}
.info__button{
	display: block;
	margin: 0px auto;
	border: none;
	line-height: 14.8vw;
	background: #5a33c8;
	text-align: center;
	font-family: 'FSElliotPro-Bold';
	font-size: 3.75vw;
	color: #fff;
	width: 79vw;
	margin-bottom: 1.24vw;
	border-bottom: 0.83vw solid #264b82;
}
.button__img{
	width: 1.5vw;
    height: 2.1vw;
    position: absolute;
    right: 2.5vw;
    top: 2.2vw
}
.info__method__img{
	display: none;
}
.play__img{
	width: 11.6vw;
	height: 11.6vw;
	left: 41.4vw;
    top: 55vw;


}
footer{
	margin-top: 16.87vw;
	padding-bottom: 2.19vw;
}
footer img{
	display: none;
}
.footer__text{
	display: none;
}
.footer__text1{
	    width: 78vw;
	display: block;
	font-size: 2.1vw;
	text-align: center;
	float: none;
	line-height: 2.5vw;
	margin-left: 0vw;
	margin: 0px auto;
}
.footer__link{
	cursor: pointer;
	color: #6d6aea;
	font-size: 2.1vw;
	font-family: 'MuseoSansCyrl-300';
}
.video__open{
	border-bottom: 0.5px solid #494949;
	cursor: pointer;
}
.video{
	background: #fff;
    margin-left: 20px;
    width: 36.6vw;
    height: 13.75vw;
    box-shadow: none;
    top: 38vw;
    left: 49vw;
    font-size: 3.33vw;
    padding-top: 2.5vw;
    border-radius: 3px;
    text-align: left;
}
.video__text{
	transform: skew(20deg);
	padding-left: 4vw;
}
   
    .loader {
    --size: 18vw;
        left: 47vw;
    top: 60.6vw;
};
 }
   .circle {
        border: 4vw solid #4b3daf;

        }