@font-face {
  font-family: 'FSElliotPro';
  src: url('../fonts/FSElliotPro.eot');
  src: url('../fonts/FSElliotPro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FSElliotPro.svg#FSElliotPro') format('svg'),
       url('../fonts/FSElliotPro.ttf') format('truetype'),
       url('../fonts/FSElliotPro.woff') format('woff'),
       url('../fonts/FSElliotPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSansCyrl-300.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
   }
@font-face {
  font-family: 'FSElliotPro-Heavy';
  src: url('../fonts/FSElliotPro-Heavy.eot');
  src: url('../fonts/FSElliotPro-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FSElliotPro-Heavy.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/FSElliotPro-Heavy.ttf') format('truetype'),
       url('../fonts/FSElliotPro-Heavy.woff') format('woff'),
       url('../fonts/FSElliotPro-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSansCyrl-700.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSElliotPro-Bold';
  src: url('../fonts/FSElliotPro-Bold.eot');
  src: url('../fonts/FSElliotPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FSElliotPro-Bold.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/FSElliotPro-Bold.ttf') format('truetype'),
       url('../fonts/FSElliotPro-Bold.woff') format('woff'),
       url('../fonts/FSElliotPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
	font-size: 0.63vw;
	color: #000;
	margin:0px;
	padding: 0px;
	margin-left: 11.718vw;
	font-family:  'FSElliotPro', 'FSElliotPro-Bold', 'FSElliotPro-Heavy', 'MuseoSansCyrl-700', 'MuseoSansCyrl-300';
}
html {
	scroll-behavior: smooth;	
}
h2, h1, section, div, ul, li, p, a, nav, button {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
section {
	position: relative;
}
* {
	-moz-transition: all 0.2s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	-webkit-font-smoothing: subpixel-antialiased;
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}
ul {
	list-style-type: none;
}
 a {
 	text-decoration: none;
 }
 header{
 	margin-bottom: 5.26vw;
 }
 .header__head {
 	padding-top: 1.93vw;
 	position: relative;
 	margin-bottom: 2.85vw;
 }
 .header__head__left{
 	margin-right: 15.62vw;
 	float: left;
 }
 .logo{
 	float: left;
 	width: 3vw;
 	height: 3.5vw;
 	margin-right: 1.25vw;
 }
 .head__text{
 	display: inline;
 	font-family: 'MuseoSansCyrl-300';
 	font-size: 0.83vw;
 	color: #727272;
 	line-height: 1.15vw;
 }
 .head__left__logoword{
 	margin-top: 0.1vw;
 }
 .linksword{
 	padding-top: 1vw;
    margin-bottom: 0.3vw;
    	text-align: right;
 }
 .header__head__center{
 	float: left;
 	margin-right: 12.55vw;
 }
.head__center__number{
	font-size: 1.66vw;
	color: #1c67aa;
	font-family: 'FSElliotPro-Heavy';
	float: left;
	margin: 0.41vw  1.146vw 0px 0px ;
}
.head__center__quantity{
	    float: left;
    margin-top: 0.2vw;
}
 .header__head__right{
 	float: left;
 	color: #000;
 	font-size: 0.83vw;
 }
 .header__link{
 	float: left;
 }
.head__right__img{
	width: 2.3vw;
	height: 2.3vw;
}
.CA{
	display: none;
}
.WA{
	margin-right: 0.573vw;
}
.VK{
	margin-right: 1.35vw;
}
.contact{
	float: left;
	margin-top: -0.4vw;
}
.head__right__tel{
	font-size: 1.56vw;
	color: #000;
	font-family: 'FSElliotPro-Bold';
}
.header__time{
	display: block;
	margin-top: 0.4vw;
}
.info__phehead{
	font-size: 2.86vw;
	    margin-bottom: 0.3vw;
	font-family: 'FSElliotPro';
}
h1{
	font-size: 2.86vw;
	font-family: 'FSElliotPro-Bold';
	line-height: 3.7vw;
	margin-bottom: 3.12vw;
}
.spanh1{
	color: #4b3eb2;
}
.info__item{
	margin-bottom: 3.8vw;
}
.info__pros{
	float: left;
}
.info__item__img{
	float: left;
	margin-right: 1.4vw;
	width: 1.9vw;
	height: 1.9vw;
	padding-top: 0.5vw;
}
.info__item__text{
	font-size: 0.937vw;
	font-family: 'MuseoSansCyrl-700';
	float: left;
	    line-height: 1.4vw;
}
info__item:nth-child(3) {
	margin-bottom: 4vw;
}
.info__butarea{
	position: relative;
	float: left;
	height: 4.95vw;
}
.info__button{
	border: none;
	line-height: 4.95vw;
	background: #5a33c8;
	text-align: center;
	font-family: 'FSElliotPro-Bold';
	font-size: 1.25vw;
	color: #fff;
	width: 26.2vw;
	margin-bottom: 1.24vw;
	border-bottom: 4px solid #264b82;
}
.button__img{
	    width: 0.52vw;
    height: 0.781vw;
    position: absolute;
    right: 2.5vw;
    top: 2.2vw
}
.info__method__img{
	height: 45.74vw;
	width: 45.67vw;
	    position: absolute;
    top: -10vw;
    right: 0;
    z-index: -2;
}
.play__img{
	width: 4.948vw;
	height: 4.948vw;
	position: absolute;
	z-index: 1;
	left: 42.4vw;
    top: 14vw;
    cursor: pointer;

}
footer{
	margin-top: 6.25vw;
	padding-bottom: 2.19vw;
}
.footer__text{
	text-align: center;
	float: left;
	line-height: 1vw;
	margin-left: 10.6vw;
}
.footer__link{
	cursor: pointer;
	color: #6d6aea;
	font-size: 0.6vw;
	font-family: 'MuseoSansCyrl-300';
}
.video__open{
	border-bottom: 0.5px solid #494949;
	cursor: pointer;
}
.video{
	margin-left: 20px; 
	width: 10.3vw; 
	height: 3.47vw;
	transform: skew(-20deg);
	box-shadow: 0 0  1vw rgba(0,0,0,0.2);
	position: absolute;
    z-index: 2;
    top: 15vw;
    left: 28vw;
    text-align: center;
    font-size: 0.83vw;
    color: #494949;
    font-family: 'MuseoSansCyrl-300';
    padding-top: 0.7vw;
    border-radius: 3px;
}
.video__text{
	transform: skew(20deg);
}

 @use postcss-nested;
	@keyframes animate-circle {
    from {
        transform: scale(0);
        opacity: 0.7;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}
.loader {
	position: absolute;
        --size: 8vw;
    left: 44.8vw;
    top: 16.5vw;
    height: var(--size);
    width: var(--size);
    transform: translateX(-50%) 
    translateY(-50%);
}
 
   .circle {
        --duration: 3s;
        position: absolute;
        height: inherit;
        width: inherit;
        border: 2.5vw solid #4b3daf;
        border-radius: 50%;
        animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
        }
      .circle:nth-of-type(1) {
            animation-delay: 0;
        }