@font-face {
  font-family: 'FSElliotPro';
  src: url('../fonts/FSElliotPro.eot');
  src: url('../fonts/FSElliotPro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FSElliotPro.svg#FSElliotPro') format('svg'),
       url('../fonts/FSElliotPro.ttf') format('truetype'),
       url('../fonts/FSElliotPro.woff') format('woff'),
       url('../fonts/FSElliotPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSansCyrl-300.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
   }
@font-face {
  font-family: 'FSElliotPro-Heavy';
  src: url('../fonts/FSElliotPro-Heavy.eot');
  src: url('../fonts/FSElliotPro-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FSElliotPro-Heavy.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/FSElliotPro-Heavy.ttf') format('truetype'),
       url('../fonts/FSElliotPro-Heavy.woff') format('woff'),
       url('../fonts/FSElliotPro-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSansCyrl-700.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSElliotPro-Bold';
  src: url('../fonts/FSElliotPro-Bold.eot');
  src: url('../fonts/FSElliotPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FSElliotPro-Bold.svg#FSElliotPro-Heavy') format('svg'),
       url('../fonts/FSElliotPro-Bold.ttf') format('truetype'),
       url('../fonts/FSElliotPro-Bold.woff') format('woff'),
       url('../fonts/FSElliotPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
	font-size: 0.63vw;
	color: #000;
	margin:0px;
	padding: 0px;
	font-family:  'FSElliotPro', 'FSElliotPro-Bold', 'FSElliotPro-Heavy', 'MuseoSansCyrl-700', 'MuseoSansCyrl-300';
}
html {
	scroll-behavior: smooth;	
}
h2, h1, section, div, ul, li, p, a, nav, button {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
section {
	position: relative;
}
* {
	-moz-transition: all 0.2s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	-webkit-font-smoothing: subpixel-antialiased;
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}
ul {
	list-style-type: none;
}
 a {
 	text-decoration: none;
 }
 .conteiner {
 	width: 72.7vw;
 	display: block;
 	margin: 0px auto;
 	position: relative;
 }
 .header__head {
 	padding-top: 0.675vw;
 	position: relative;
 	margin-bottom: 2.85vw;
 }
 .header__head__left{
 	margin-left: 1.1vw;
 	float: left;
 }
 .logo{
 	width: 4vw;
 	height: 4.88vw;
 	background: url(../img/logo.png) no-repeat center;
 	background-size: cover; 
 }
 .head__left__logoword{
 	color: #d3a2a2;
 	display: inline;
 	font-family: 'MuseoSansCyrl-300'; /* 100*/
 	position: absolute;
 	top: 2.6vw;
    left: 6.15vw;
 }
 .header__head__right{
 	float: right;
 	color: #000;
 	font-size: 0.83vw;
 }
 .linksword{
 	padding-top: 1vw;
    margin-bottom: 0.3vw;
    	text-align: right;
 }
 .or{
 	display: inline;
 }
.head__right__link{
	border-bottom: 1px dashed #000;
	color: #000; 
}
#check-list{
	font-family: 'Montserrat-Regular';
	color: #181818;
	margin-bottom: 6.44vw;
}
h1{
	font-size: 2.38vw;
	text-align: center;
	margin-bottom: 1.87vw;
}
.check-list__pdf{
	font-size: 1.04vw;
	text-align: center;
	border-bottom: 1px solid #ef67ba;
	padding-bottom: 0.68vw;
}
.formarea{
	margin-top: 3.168vw;
	
}
.formarea__img{
	float: left;
}
.formarea__form{
	float: right;
	border-radius: 3px;
	box-shadow: 0px 0.9vw 3vw rgba(0,0,0,0.2);
	width: 34vw;
	font-family: 'MuseoSansCyrl-300'; /*100*/
	padding-bottom: 1.71vw;
}
.form__head{
	font-size: 1.56vw;
	padding-top: 1.66vw;
	text-align: center;
	margin-bottom: 1.97vw;
}
.form__description{
	font-size: 1.04vw;
	text-align: center;
	margin-bottom: 2.44vw;
}
form{
	width: 28vw;
	display: block;
	margin: 0px auto;
}
input{
	margin-bottom: 1.56vw;
	display: block;
	padding-left: 1.19vw;
	line-height: 3.84vw;
	width: 26.5vw;
}
input::-moz-placeholder { color:#bfbfbf ; font-size: 1.246vw; }
input::-webkit-input-placeholder { color: #bfbfbf;  font-size: 1.246vw; }
.form__button{
	display: block;
	border: none;
	line-height: 5.195vw;
	background: #5a33c8;
	text-align: center;
	font-family: 'MuseoSansCyrl-700';
	font-size: 1.45vw;
	color: #fff;
	width: 28vw;
	margin-bottom: 1.24vw;
}
.political{
	text-align: center;
	font-size: 0.83vw;
}
span {
	color:#5a33c8;
	border-bottom: 1px dashed #5a33c8;
	cursor: pointer;
}
.pros__list{
	margin-bottom: 5.04vw;
}
.pros__item{
	float: left;
	margin-right: 8.7vw;
	text-align: center;
	color: #000;
}
.pros__item:nth-child(1){
	margin-left: 2.6vw;
}
.pros__item:nth-child(3){
	margin-right: 0px;
}
.pros__item:nth-child(2){
	margin-right: 10.7vw;
}
.item__text{
	font-size: 1.04vw;
	font-family: 'Montserrat-SemiBold';
}
footer{
	background: #f9f9f9;
	height: 7.74vw;
	padding-top: 4.26vw;
}
footer ul {
	display: block;
	margin-left: 26vw;
}
.footer__item {
	float: left;
	margin-right: 3.43vw;
}
.footer__imgbox {
	width: 3.54vw;
	height: 3.54vw;
	border-radius: 50%;
	border: 1px solid #b1b1b1;
	margin-bottom: 0.52vw;
}

.footer__item:nth-child(3){
	margin-right: 0vw;
}
.footer__text{
	text-align: center;
	font-size: 0.73vw;
	font-family: 'MuseoSansCyrl-300'; /*100*/
}
.footer__imgbox:hover{
	background: #5a33c8;
}