@font-face {
  font-family: 'Merriweather-Italic';
  src: url('Merriweather-Italic.eot');
  src: url('Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
       url('Merriweather-Italic.svg#Merriweather-Italic') format('svg'),
       url('Merriweather-Italic.ttf') format('truetype'),
       url('Merriweather-Italic.woff') format('woff'),
       url('Merriweather-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

